<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista Productos </ion-title>
    <ion-avatar slot="end">
      <ion-badge class="cantidadCarrito" color="danger">{{
        carrito.length
      }}</ion-badge>
      <ion-img
        (click)="verCarrito()"
        class="img"
        src="../../assets/cart.png"
      ></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of productos" [routerLink]="['/home', item.id]">
      <ion-avatar slot="start">
        <img [src]="item.imagen" />
      </ion-avatar>
      <ion-label>{{ item.nombre }}</ion-label>
      <ion-label color="danger">{{ item.precio }}</ion-label>
      <ion-label *ngIf="item.cantidad == 0" color="danger">SIN STOCK</ion-label>
      <ion-label *ngIf="item.cantidad > 0" color="primary">CON STOCK</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
